.headerContainer {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 2vw;
  color: white;
}

.headerContainer > .headerRight {
  display: grid;
  grid-auto-flow: column;
  gap: 4vw;
}

.headerContainer > .headerRight > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.headerContainer > .headerRight > .link:hover {
  font-weight: bold;
}

.headerContainer > .headerRight > button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 10px 4vw;
  border-radius: 0.5vh;
  transition: ease-in-out 0.2s;
}

.headerContainer > .headerRight > button:hover {
  background-color: rgba(20, 20, 20, 0.95);
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
